/* Image */

.image {
    display: inline-block;
    position: relative;
    border: 0;
}

.image.filtered:after {
    background-image: url(../../images/overlay.png), linear-gradient(45deg, rgb(92 92 92 / 25%) 25%, rgb(52 52 52 / 25%) 50%, rgb(66 66 66 / 25%)), linear-gradient(0deg, rgb(0 0 0 / 13%), rgba(0, 0, 0, 0.125));
    background-size: 128px 128px, auto, auto;
    box-shadow: inset 0 0 200px black;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
}

.image.filtered.tinted:after {
    background-image: url(../../images/overlay.png), linear-gradient(45deg, rgb(0 0 0 / 50%) 25%, rgb(0 0 0 / 50%) 50%, rgb(32 32 32 / 50%)), linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5));
    background-size: 128px 128px, auto, auto;
}

.image[data-position] img {
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image[data-position="top left"] img {
    -moz-object-position: top left;
    -webkit-object-position: top left;
    -ms-object-position: top left;
    object-position: top left;
}

.image[data-position="top"] img {
    -moz-object-position: top;
    -webkit-object-position: top;
    -ms-object-position: top;
    object-position: top;
}

.image[data-position="top right"] img {
    -moz-object-position: top right;
    -webkit-object-position: top right;
    -ms-object-position: top right;
    object-position: top right;
}

.image[data-position="right"] img {
    -moz-object-position: right;
    -webkit-object-position: right;
    -ms-object-position: right;
    object-position: right;
}

.image[data-position="bottom right"] img {
    -moz-object-position: bottom right;
    -webkit-object-position: bottom right;
    -ms-object-position: bottom right;
    object-position: bottom right;
}

.image[data-position="bottom"] img {
    -moz-object-position: bottom;
    -webkit-object-position: bottom;
    -ms-object-position: bottom;
    object-position: bottom;
}

.image[data-position="bottom left"] img {
    -moz-object-position: bottom left;
    -webkit-object-position: bottom left;
    -ms-object-position: bottom left;
    object-position: bottom left;
}

.image[data-position="left"] img {
    -moz-object-position: left;
    -webkit-object-position: left;
    -ms-object-position: left;
    object-position: left;
}

.image[data-position="center"] img {
    -moz-object-position: center;
    -webkit-object-position: center;
    -ms-object-position: center;
    object-position: center;
}

.image[data-position="25% 25%"] img {
    -moz-object-position: 25% 25%;
    -webkit-object-position: 25% 25%;
    -ms-object-position: 25% 25%;
    object-position: 25% 25%;
}

.image[data-position="75% 25%"] img {
    -moz-object-position: 75% 25%;
    -webkit-object-position: 75% 25%;
    -ms-object-position: 75% 25%;
    object-position: 75% 25%;
}

.image[data-position="75% 75%"] img {
    -moz-object-position: 75% 75%;
    -webkit-object-position: 75% 75%;
    -ms-object-position: 75% 75%;
    object-position: 75% 75%;
}

.image[data-position="25% 75%"] img {
    -moz-object-position: 25% 75%;
    -webkit-object-position: 25% 75%;
    -ms-object-position: 25% 75%;
    object-position: 25% 75%;
}

.image img {
    display: block;
}

.image.left, .image.right {
    max-width: 40%;
}

.image.left img, .image.right img {
    width: 100%;
}

.image.left {
    float: left;
    padding: 0 1.5rem 1rem 0;
    top: 0.25rem;
}

.image.right {
    float: right;
    padding: 0 0 1rem 1.5rem;
    top: 0.25rem;
}

.image.fit {
    display: block;
    margin: 0 0 1.5rem 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 0 0 2.25rem 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}