/* Page Wrapper */

#page-wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: -moz-flex-start;
    -webkit-justify-content: -webkit-flex-start;
    -ms-justify-content: -ms-flex-start;
    justify-content: flex-start;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    height: 100%;
    padding: 5rem;
}

@media screen and (orientation: portrait) {

    #page-wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

@media screen and (min-aspect-ratio: 16 / 7) {

    #page-wrapper {
        padding: 6vh;
    }

}

@media screen and (min-aspect-ratio: 16 / 6) {

    #page-wrapper {
        padding: 0;
    }

}

@media screen and (max-width: 736px) {

    #page-wrapper {
        height: auto;
        padding: 1rem;
    }

}

@media screen and (max-width: 480px) {

    #page-wrapper {
        padding: 0;
    }

}